/* src/components/CreateCourse.css */

.create-course-section {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="number"],
textarea,
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input[type="file"] {
    margin-bottom: 15px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: #f1d130; /* Button background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #fcc52d; /* Button hover color */
}

.module {
    margin-top: 20px;
    padding: 15px;
    border: 1px dashed #ccc;
    border-radius: 4px;
}

.module input[type="text"],
.module textarea,
.module input[type="file"] {
    margin-bottom: 10px; /* Smaller margin for module inputs */
}
